input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.erreur50 {
    margin-left: 18%;
    background-color: #F2DEDE;
    width: fit-content;
    padding: 5px;
    border: solid #EBCCCC;
    border-radius: 4px;
  }